@import "https://fonts.googleapis.com/css?family=Poppins";
* {
  font-family: "Poppins", sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h3{
    text-align: center;
  }
  
  .showcase::after {
    content: '';
    height: 90vh;
    width: 100%;
    background-image: url(../img/bgimage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
  }